body {
    background-image: url("https://res.cloudinary.com/dh41vh9dx/image/upload/v1550424848/Morning-business-background.jpg");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
  }
  
  .outer-container{
    width: 100%;
  }
  h1 {
    color: black;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 1rem;
    text-align: center;
  } 
  
  h2 {
    color:blue;
    font-size: .9rem;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
  } 
  
  header {
    text-align: center;
    font-family: "verdana";
  }
  
  .preview {
    display: inline;
    align: center;
    background: white;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    margin: 0 auto 0 auto;
    width: 45%;
    min-height: 150px;
    padding: 30;
    word-wrap: break-word;
    margin: 30px auto 30px auto;
    padding: 20px;
    border-color: blue;
    border-radius: 4px;
    border-style: solid;
    border-width:1px;
  }
  .container{
      display: flex;
      width: 85%;
      margin: 0 auto;
  }
  textarea {
    border-color: blue;
    border-radius: 4px;
    border-style: solid;
    border-width:1px;
    display: block;
    font-family: "Helvetica-Light", "Helvetica", "Arial", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 30px auto 30px auto;
    padding: 20px;
    width:40%;
  }
  
  .formHolder {
    background-color: gray;
    opacity: .8;
    width: 80%;
    border-radius: 4px;
    color: black;
    font-family: "verdana";
    font-size: 0.75rem;
    margin: 40px auto 0 auto;
    padding: 20px;
    text-transform: uppercase;
    height: 50px;
    margin-bottom: 25px;
  }
  
  .form {
    display: inline;
  }
  
  .third {
    height: 100%;
    float: right;
    text-align: center;
  }
  
  input {
    display: inline;
  }
  
  #fonts {
    margin-left: 4px;
  }
  
  #weight {
  }